body {
  font-family: 'Noto Sans', sans-serif;
  transition: background-color .5s ease-in-out;
}
header {
  font-size: 1.5em;
  text-align: center;
}
#wrapper {
  display: flex;
  flex-flow: row wrap;
  max-width: 1600px;
  min-width: 720px;
  white-space: nowrap;
  height: 700px;
  align-items: center;
  justify-content: space-around;
}

.thumb {
  width: 10%;
  transition: all .2s ease-in-out;
}

.thumb:hover {
  width: 20%;
}

.inner {
  padding-bottom: 100%;
  border-radius: 100%;
  background-size: cover;
  background-position: top;
  overflow: hidden;
}

#giraffe {
  background-image: url("../images/giraffe2.jpg");
}

#cow {
  background-image: url("../images/cow2.jpg");
}

#human {
  background-image: url("../images/human2.jpg");
}

#chipanzee {
  background-image: url("../images/chipanzee2.jpg");
}

#rabbit {
  background-image: url("../images/rabbit2.jpeg")  ;
}

#dog {
  background-image: url("../images/dog2.jpg");
}

#cat {
  background-image: url("../images/cat2.jpg");
}

#tiger {
  background-image: url("../images/tiger2.jpg");
}

#koala {
  background-image: url("../images/koala2.jpg");
}
