body {
  font-family: 'Noto Sans', sans-serif;
}
header {
  font-size: 1.5em;
  text-align: center;
}
#wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-direction: row wrap;
  max-width: 1600px;
  min-width: 720px;
  white-space: nowrap;
  height: 700px;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.thumb {
  width: 11%;
}

.inner {
  padding-bottom: 100%;
  border-radius: 100%;
  background-size: cover;
  background-position: top;
  overflow: hidden;
}

#giraffe {
  background-image: url("../images/giraffe.jpg");
}

#cow {
  background-image: url("../images/cow.jpg");
}

#human {
  background-image: url("../images/human.jpg");
}

#chipanzee {
  background-image: url("../images/chipanzee.jpg");
}

#rabbit {
  background-image: url("../images/rabbit.jpg")  ;
}

#dog {
  background-image: url("../images/dog.jpg");
}

#cat {
  background-image: url("../images/cat.jpg");
}

#tiger {
  background-image: url("../images/tiger.jpeg");
}

#koala {
  background-image: url("../images/koala.jpg");
}
